<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{'Condition.Date' | translate}}</th>
        <td mat-cell *matCellDef="let condition">{{condition.date.toISODate()}}</td>
    </ng-container>

    <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef>{{'Condition.Temperature' | translate }} (ºC)</th>
        <td mat-cell *matCellDef="let condition">{{condition.temperature}}</td>
    </ng-container>

    <ng-container matColumnDef="altitude">
        <th mat-header-cell *matHeaderCellDef>{{'Condition.Altitude' | translate }} (m)</th>
        <td mat-cell *matCellDef="let condition">{{condition.altitude}}</td>
    </ng-container>

    <ng-container matColumnDef="rainingStatus">
        <th mat-header-cell *matHeaderCellDef>{{'Condition.RainingStatus' | translate }} (%)</th>
        <td mat-cell *matCellDef="let condition">{{condition.rainingStatus}}</td>
    </ng-container>

    <ng-container matColumnDef="networkPower">
        <th mat-header-cell *matHeaderCellDef>{{'Condition.NetworkPower' | translate }} (1-5)</th>
        <td mat-cell *matCellDef="let condition" [ngClass]="'network-power-' + condition.networkPower">
            {{condition.networkPower}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons class="mat-elevation-z2"></mat-paginator>