.list-details-container {
    height: 100%;
    display: flex;
    gap: 24px;

    .list {
        height: 100%;
        flex: 1;

        .loading-spinner-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .details {
        height: 100%;
        flex: 2;
    }
}