.list-details-container {
    height: 100%;
    display: flex;
    gap: 24px;

    .list {
        height: 100%;
        flex: 1;

        .list-viewport {
            height: 100%;
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow: auto;
        }

        .loading-spinner-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .no-data {
            text-align: center;
        }
    }

    .details {
        height: 100%;
        flex: 2;
    }
}