<div class="list-details-container">
    <div class="list">
        @if (cityOverviewList) {
            <div class="list-viewport">
                @for (cityOverview of cityOverviewList; track cityOverview.name) {
                <app-city-overview-item [cityOverview]="cityOverview"></app-city-overview-item>
                } @empty {
                <span class="no-data">No data available</span>
                }
            </div>
        } @else {
        <div class="loading-spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        }
    </div>
    @if(selectedCityConditions){
    <div class="details">
        <app-city-details [conditions]="selectedCityConditions"></app-city-details>
    </div>
    }
</div>