.form {
    margin: auto;
    width: 100%;
    max-width: 900px;

    .inline {
        width: 100%;
        display: flex;
        gap: 24px;
        margin: 12px 0;

        .grow {
            flex: 1;
        }
    }

    mat-slider {
        width: 100%;
        margin: 0;
    }
}