.form-container {
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;

    .inline {
        display: flex;
        gap: 24px;
        margin: 12px 0;

        .grow {
            flex: 1;
        }
    }

    mat-slider {
        width: 100%;
        margin: 0;
    }
}

.button-progress-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}