.container {
    box-sizing: border-box;
    height: calc(100vh - 64px);
    padding: 20px 60px;
}

.toolbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .title {
        margin-right: 24px;
    }

    .language-button {
        margin-left: auto;
    }

    .nav-selected {
        text-decoration: underline;
    }
}

.lang-selected {
    background-color: rgba(26, 27, 31, 0.08);
}