<mat-toolbar>
  <div class="toolbar-container">
    <span class="title">{{title}}</span>
    <button mat-button [routerLink]="['overview']" routerLinkActive="nav-selected">Overview</button>
    <button mat-button [routerLink]="['condition-form']" routerLinkActive="nav-selected">Submission</button>
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="language-button">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickLanguage('en')">English</button>
      <button mat-menu-item (click)="onClickLanguage('pt')">Português</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>